<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poketypes</title>
</head>
<body>
    <h2>Welcome to the world of pokemons!</h2>
    <pre>
Pokemon Types  :
1. Normal       11. Water
2. Fighting     12. Grass
3. Flying       13. Electric
4. Poison       14. Psychic
5. Ground       15. Ice
6. Rock         16. Dragon
7. Bug          17. Dark
8. Ghost        18. Fairy
9. Steel        19. Unknown
10. Fire        20. Shadow
    </pre>
    <h3>Enter the type you want :</h3>
    <form action="/poketypes" method="get">
        <textarea name="text"></textarea>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>